##################################################
# PYTHON VIRTUAL ENVIRONMENT
##################################################

.gmlenv/
venv/
.venv/

##################################################
# PYTHON CACHE
##################################################

__pycache__/
*.py[cod]

##################################################
# JUPYTER
##################################################

.ipynb_checkpoints/
A2_Spacial_Intelligence/A2_MO_British_museum.ipynb

##################################################
# VS CODE LOCAL SETTINGS
##################################################

.vscode/

##################################################
# LOGS / TEMP FILES
##################################################

*.log
*.tmp
*.swp

##################################################
# RHINO / OBJ BACKUP FILES
##################################################

*.3dmbak
*.objbak

##################################################
# OS FILES
##################################################

.DS_Store
Thumbs.db
